<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duckflew.dao.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.duckflew.po.Permission">
        <id column="id" property="id" />
        <result column="menu_code" property="menuCode" />
        <result column="menu_name" property="menuName" />
        <result column="permission_code" property="permissionCode" />
        <result column="permission_name" property="permissionName" />
        <result column="required_permission" property="requiredPermission" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_code, menu_name, permission_code, permission_name, required_permission
    </sql>

    <select id="getAllPerCodes" resultType="java.lang.String">
        select distinct  menu_code from sys_permission;
    </select>

    <select id="getAllMenuCodes" resultType="java.lang.String">

    select distinct permission_code from sys_permission;
    </select>

</mapper>
